<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    body{background-image: url('./wallpaper.png');
background-size: cover;
background-repeat: no-repeat;
}
    </style>
</head>
<body>
    <h1 style="font-family: fantasy; color: rgb(58, 133, 156);text-align: center;text-decoration: underline;margin-bottom: 0px;">Animal Facts</h1> 
   <center>
       <br> 
       <a href="/cat">
       <img src="Cat_Facts.png" height="80" width="400"> </a>
</body>
</html>