<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    body{background-image: url('./wallpaper.png');
background-size: cover;
background-repeat: no-repeat;
}
    </style>
</head>
<body>
   <h1> <h1 style="font-family: fantasy; color: rgb(58, 133, 156);text-align: center;text-decoration: underline;">Animal Facts</h1> </h1>
   <center>
       <img src="Cat_Facts.png" height="400" width="800">
</body>
</html>