<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    body{background-image: url('./wallpaper.png');
background-size: cover;
background-repeat: no-repeat;
}
mark{
    background-color: white;
}
    </style>
</head>
<body>
    <h1 style="font-family: fantasy; color: rgb(58, 133, 156);text-align: center;text-decoration: underline;margin-bottom: 0px;">Bird Fact</h1>
    <br>
    <center>
    <img src="data:image/png;base64, <%= buffer %>" style="border: 5px solid rgb(35, 59, 66);" width="300">
    
    <h2> <mark style="font-family: monospace; color: rgb(49, 78, 87);text-align: center;margin-bottom: 0px;"> <%= fact %>
    <br>
<a href="/" style="color: rgb(35, 59, 66)"><u>⬅Search Again</u></mark></h2>
</body>
</html>