<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    body{background-image: url('./wallpaper.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  
  background: rgb(49, 78, 87)
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(58, 133, 156); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 191, 224); 
}
    </style>
</head>
<body>
    <h1 style="font-family: fantasy; color: rgb(58, 133, 156);text-align: center;text-decoration: underline;margin-bottom: 0px;">Animal Facts</h1> 
   <center>
     <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(58, 133, 156); text-align: center;">Find fascinating facts about animals here! Loading may take some time so please be patient :)</h2>
      
       <a href="/cat">
       <img src="./assets/Cat_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a> 
       <a href="/dog">
        <img src="./assets/Dog_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a> 
        <a href="/Fish"> <img src="./assets/Fish_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a> <br>
       
        <a href="/Bird"> <img src="./assets/Bird_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a> 
        <a href="/Panda"> <img src="./assets/Panda_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a> 
        <a href="/Fox"> <img src="./assets/Fox_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a><br>
        <a href="/Koala"> <img src="./assets/Koala_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a>
        
        <a href="/Racoon"> <img src="./assets/Racoon_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a>
        
        <a href="/Whale"> <img src="./assets/Whale_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a> <br>
        <a href="/Kangaroo"> <img src="./assets/Kangaroo_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a> 
        <a href="/Elephant"> <img src="./assets/Elephant_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a>
        <a href="/Cow"> <img src="./assets/Cow_Facts.png" height="80" width="400" style="margin-bottom: 6px"></a>
        <hr style="border-color:rgb(82, 191, 224);background-color: rgb(82, 191, 224)">
        <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(8, 123, 158); text-align: center;">Developed by PixelPasta</h2>
        <a href="https://twitter.com/ItsMePixelPasta" target="_blank"> 
          <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" width="32" height="32"> </a>
  <a href="https://github.com/PixelPasta" target="_blank"> <img src="assets/githubicon.png" width="32" height="32"> </a>
  <a href="https://www.reddit.com/user/AssasinatorX4" target="_blank"> <img src="assets/redditicon.png" width="32" height="32"> </a> </p>
</body>
</html>